@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #111827; /* gray-900 */
}

#root {
  height: 100%;
}